

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.team-logo {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    margin-right: 8px;
}